{% extends "base.html" %}
{% block main_block %}

<br><br>
<table class="table table-hover">
    <tr>
        <td>id</td>
        <td>title</td>
        <td>author</td>
        {% if g.isAdmin %}
        <td>op</td>
        {% endif %}
    </tr>
    {% for article in articles %}
    <tr {% if article.user.id == g.user_id %} class="info"{% endif %}>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.user.username}}</td>
        {% if g.isAdmin %}
        <td><a class="btn btn-sm btn-danger" role="button" href={{url_for('Article.article',aid=article.id,op='delete')}}>Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
