{% extends "base.html" %}
{% block main_block %}
<div class="row">
    <a class="btn btn-primary col-md-4" role="button" href={{url_for('Article.new')}}>New Article </a>
    {%if all%}
    <a class="btn btn-default col-md-4 col-md-offset-4" role="button" href={{url_for('Article.mine')}}>My Articles </a>
    {%else%}
    <a class="btn btn-default col-md-4 col-md-offset-4" role="button" href={{url_for('Article.articles')}}>All Articles </a>
    {%endif%}
</div>
<br><br>
<table class="table table-hover">
    <tr>
        <td>id</td>
        <td>title</td>
        <td>author</td>
        {% if g.isAdmin %}
        <td>op</td>
        {% endif %}
    </tr>
    {% for article in articles %}
    <tr {% if article.owner.id == g.user_id %} class="info"{% endif %}>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.owner.username}}</td>
        {% if g.isAdmin %}
        <td><a class="btn btn-sm btn-danger" role="button" href={{url_for('Article.article',aid=article.id,op='delete')}}>Delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
