{% extends "base.html" %}
{% block main_block %}
<div class="row">
<a class="btn btn-lg btn-primary col-xs-6 col-md-3" href={{url_for('Image.upload')}} role="button">Upload &raquo;</a>
<br/>
</div>
<br/>
<div class="row">
    {% for image in images %}
    {% if not image.delete %}
<div class="col-xs-6 col-md-3">
    <a href={{url_for('Image.image',image_id=image.id)}}  target=_blank class="thumbnail">
        <img src={{url_for('Image.tiny',image_id=image.id)}}  alt="{{image.id}}"/><br>
        <p>{{image.title}}  </p>
        <small>Circumstance: {{image.alg.title}}</small><br>
        <small>（{{g.image_state[image.state]}}）{{images[image]}}</small>
    </a>
</div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
