{% extends "base.html" %}
{% block main_block %}
<p>{{g.image_alg[image.alg.alg]}}</p>
<div>{{result}}</div>
{% if not action == 'rename' %}
{{image.title}}<a href={{url_for('Image.edit',action='rename',image_id=image.id)}}>重命名</a><br>
{% else %}
<form method="post" action={{url_for('Image.edit',action='rename',image_id=image.id)}}>
    <input type="text" name="filename" value={{image.title}} /><input type="submit"><br>
</form>
{% endif %}
<img src={{url_for('Image.show',image_id=image.id)}}  alt="{{image.id}}"/><br>
{% if not image.freeze %}
    {% if action == 'label' %}
        {% if label['alg'] in (base_alg.Classification, base_alg.BiClass) %}
            <form method="post" action={{url_for('Image.edit',action='label',image_id=image.id)}}>
                {% for i in range(label_num) %}
                {{label['data']['key'][i]}} <input type="radio" {% if label['data']['value'] == i %} checked="checked" {% endif %} name="label" value={{i}} /><br>
                {% endfor %}
                <input type="submit"><br>
            </form>
        {% elif label['alg']==base_alg.Caption %}
            <form method="post" action={{url_for('Image.edit',action='label',image_id=image.id)}} id="caption">
                <textarea name="label" form="caption" rows="3">{{label['data']['value']}}</textarea>
                <input type="submit"><br>
            </form>
        {% else %}
            <p> this algorithm is not support for now</p>
        {% endif %}
        {% else %}
        {{result}}（{{g.image_state[image.state]}}）<a href={{url_for('Image.edit',action='label',image_id=image.id)}}>标注</a><br>
    {% endif %}
{% endif %}
<a href={{url_for('Image.edit',action='delete',image_id=image.id)}}>删除</a>
{% if not image.freeze %}
<a href={{url_for('Image.edit',action='freeze',image_id=image.id)}}>冻结</a>
{% else %}
<a href={{url_for('Image.edit',action='unfreeze',image_id=image.id)}}>解冻</a>
{% endif %}
{% endblock %}
