{% extends "base.html" %}
{% block main_block %}
<div class="row">
<a class="btn btn-lg btn-primary col-xs-6 col-md-3" href={{url_for('Image.upload')}} role="button">Upload &raquo;</a>
<br/>
</div>
<br/>
<div class="row">
    {% for i in images %}
    {% if not images[i][0].delete %}
<div class="col-xs-6 col-md-3">
    <a href={{url_for('Image.image',image_id=images[i][0].id)}} class="thumbnail">
        <img src={{url_for('Image.tiny',image_id=images[i][0].id)}}  alt="{{images[i][0].id}}"/><br>
        <p>{{images[i][0].title}}  </p>
        <small>Circumstance: {{images[i][0].alg.title}}</small><br>
        <small>（{{g.image_state[images[i][0].state]}}）{{images[i][1]}}</small>
    </a>
</div>
    {% if i%4==3 %}
    </div>
    <div class="row">
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
