{% extends "base.html" %}
{% block main_block %}
<p>{{g.image_alg[image.alg.alg]}}</p>
<div>{{result}}</div>
{% if not action == 'rename' %}
{{image.title}}<a href={{url_for('Image.edit',action='rename',image_id=image.id)}}>重命名</a><br>
{% else %}
<form method="post" action={{url_for('Image.edit',action='rename',image_id=image.id)}}>
    <input type="text" name="filename" value={{image.title}} /><input type="submit"><br>
</form>
{% endif %}
<img src={{url_for('Image.show',image_id=image.id)}}  alt="{{image.id}}"/><br>
{% if not image.freeze %}
    {% if action == 'label' and label['alg']//100 == 11 %}
        <form method="post" action={{url_for('Image.edit',action='label',image_id=image.id)}}>
            {{label['data']['key'][0]}} <input type="radio" {% if label['data']['value'] == 0 %} checked="checked" {% endif %} name="label" value=0 /><br>
            {{label['data']['key'][1]}} <input type="radio" {% if label['data']['value'] == 1 %} checked="checked" {% endif %} name="label" value=1 /><br>
            <input type="submit"><br>
        </form>
    {% else %}
        {{result}}（{{g.image_state[image.state]}}）<a href={{url_for('Image.edit',action='label',image_id=image.id)}}>标注</a><br>
    {% endif %}
{% endif %}
<a href={{url_for('Image.edit',action='delete',image_id=image.id)}}>删除</a>
{% if not image.freeze %}
<a href={{url_for('Image.edit',action='freeze',image_id=image.id)}}>冻结</a>
{% else %}
<a href={{url_for('Image.edit',action='unfreeze',image_id=image.id)}}>解冻</a>
{% endif %}
{% endblock %}
