{% extends "base.html" %}
{% block main_block %}
{%if new%}
<form class="form-horizontal" id="message_batch_form" action={{url_for('Message.new')}} method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" placeholder="Title of this conversation">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">To User ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="to_uid" placeholder="The receiver">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Message Type</label>
    <div class="col-sm-10">
      <select name="type" form="message_batch_form" class="form-control">
    {% for message_type in message_type.list() %}
   <option value="{{message_type['code']}}">{{message_type['desc']}}</option>
   {% endfor %}
</select>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">Context </label>
    <div class="col-sm-10">
        <textarea name="context" form="message_batch_form" class="form-control" rows="5" placeholder="(This field not work for image caption) Input labels separated by space like: cat dog etc"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Create </button>
    </div>
  </div>
</form>
{%else%}
<div style="text-align:center;"><p>{{batch['title']}}</p></div>
{% for message in batch['messages'] %}
<div class="row">
  <div class="col-md-11 {%if message['from_user_id'] != g.user_id%}col-md-offset-1{%endif%} {%if message['readed']%}{%if message['from_user_id'] != g.user_id%}bg-info{%else%}bg-success{%endif%}{%else%}bg-danger{%endif%}">
    <div class="container">
      <br>
      <div {%if message['from_user_id'] != g.user_id%}style="float:right; text-align:right"{%endif%}>
      {%if message['reply_message_id'] and 'reply_context' in message.keys()%}
        <blockquote>
          <small>Message id: {{message['reply_message_id']}}</small>
          <small>{{message['reply_context']}}</small>
        </blockquote>
      {%endif%}
        <p>{{message['context']}}</p>
        <small>Message id: {{message['id']}}, state: {%if message['readed']%}已读{%else%}未读{%endif%}, publish time: {{message['created_at']}}</small>
      </div>
    </div>
    <br>
    <div class="row">
      {%if message['type']==message_type.YES_OR_NO%}
      <a class="btn btn-default col-md-2 {%if message['from_user_id'] != g.user_id%}col-md-offset-8{%endif%}" role="button" href={{url_for('Message.reply',bid=batch.id,mid=message['id'],yes=1)}}>Yes</a>
      <a class="btn btn-default col-md-2" role="button" href={{url_for('Message.reply',bid=batch.id,mid=message['id'],yes=0)}}>No</a>
      {%else%}
      <a class="btn btn-default col-md-4 {%if message['from_user_id'] != g.user_id%}col-md-offset-8{%endif%}" role="button" href={{url_for('Message.reply',bid=batch.id,mid=message['id'],yes=0)}}>Reply</a>
      {%endif%}
    </div>
  </div>
</div>
<br>
{% endfor %}
<form class="form-horizontal" id="message_form" action={{url_for('Message.reply',bid=batch.id,mid=0,yes=0)}} method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label">To Message ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="reply_message_id" placeholder="The receiver" {%if reply%}value="{{reply}}"{%endif%}>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Message Type</label>
    <div class="col-sm-10">
      <select name="type" form="message_form" class="form-control">
        {% for message_type in message_type.list() %}
        <option value="{{message_type['code']}}">{{message_type['desc']}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">Context </label>
    <div class="col-sm-10">
        <textarea name="context" form="message_form" class="form-control" rows="5" placeholder="(This field not work for image caption) Input labels separated by space like: cat dog etc">{{context}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Reply </button>
    </div>
  </div>
</form>
{%endif%}
{% endblock %}
